* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    /*밑줄 없애기*/
    display: block;
    /*a태그 블랙요소로*/
    color: black;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    height: 1200px;
    background: url(index.png) no-repeat;
    background-size: cover;

    color: white;
}

.header {
    display: block;
    unicode-bidi: isolate;
    width: 100%;

    border-bottom: 1px solid black;
}

.logo {
    margin-top: 0px;
    margin-left: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.logo:hover {
    color: gray;

}

.menu {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin: 0 auto;
}

.menu li {
    width: 25%;
    text-align: center;

}

.menu li a {
    color: white;
    font-weight: bold;
    font-style: 20px;

    transition: 0.5s;
}

.menu li a:hover {
    color: blanchedalmond;
    transition: 0.3s;

}

.main {
    width: 1000px;
    height: 600px;

    margin: 0 auto;
    /*블럭요소를 가운데로 배치*/
    margin-top: 200px;
    /*바깥쪽 위쪽 여백 200px*/

    text-align: center;
}

.main h1 {
    font-style: 50px;
    margin-bottom: 20px;
}

.main h2 {
    font-style: 40px;
    margin-bottom: 20px;
}

.main h3 {
    font-style: 30px;
    font-weight: normal;

    margin-bottom: 50px;

    color: white;

}


.main button {
    font-style: 30px;
    width: 250px;
    height: 90px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.main button:hover {
    background-color: white;
    color: black;
}
.mouse{
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    animation: updown 1s infinite;
}
@keyframes updown{
    0%{
        transform: translateY(-0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(-0px);
    }

}

.about {
    width: 1200px;
    height: 800px;
    margin: 0 auto;

    margin-top: 100px;
}

.about h2 {
    font-size: 40px;
    color: #ff6a6a;
}

.about h1 {
    font-size: 50px;

}

.about .contents {
    width: 100%;
    height: 500px;
    display: flex;
}

.about .left {
    width: 400px;
    height: 500px;
}

.about .left img {
    width: 800px;
    height: 500px;
    padding-right: 50px;
}

.about .left {
    width: 800px;
    height: 500px;

}

.about .right h1 {
    font-size: 30px;
}

.about .right span {
    color: #ff6a6a;
}

.about .right li {
    font-size: 100%;
    margin-bottom: 20px;
}

.fa-youtube {
    font-size: 50px;
    color: red;
    margin-right: 7px;
}

.fa-instagram {
    font-size: 50px;
    color: rgb(117, 26, 97);
    margin-right: 7px;
}

.skills {
    background-color: #eee;
    width: 100%;
    height: 700px;

    margin-top: 100px;
    padding-top: 100px;

}

.skills h2 {
    font-size: 40px;
    color: #ff6a6a;
}

.skills h1 {
    font-size: 50px;
}

.skills-inner {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

.skills .contents {
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;
}

.skills .contents li {
    width: 350px;
    height: 350px;
    font-size: 20px;
    text-align: center;
    background-color: white;

    padding: 20px;
    transition: 0.3s;
}
.skills h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.skills i{
    color: #ff6a6a;
    font-size: 40px;
}
.skills .contents li:hover {
    background-color: #ff6a6a;
    color: white;
    border-radius: 15px;
}
.skills .contents li:hover i{
    color: white;
}
.bg{
    width: 100%;
    height: 700px;
    background: url(bg2.jpg) no-repeat;
    background-size: cover;

    background-attachment: fixed;
}
.Project{
    height: 1200px;
    margin-top: 0;
}