* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

a {
    text-decoration: none;
    /*밑줄 없애기*/
    display: block;
    /*a태그 블랙요소로*/
    color: black;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    height: 12000px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(bg.png) no-repeat;
    background-size: cover;

    color: white;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    /*자식요소들 가로로 배치*/
    justify-content: space-between;
    /*가로로 어떻게 배치할지*/
    align-items: center;
    /*세로로 어떻게 배치할지*/
}

.logo {
    width: 200px;
    height: 80px;

    text-align: center;
    font-size: 100;
    font-weight: bold;
}

.logo:hover {
    color: darkcyan;
    transition: 0.5s;
}

.menu {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    width: 25%;
    text-align: center;

}

.menu li a {
    color: white;
    font-weight: bold;
    font-style: 20px;

    transition: 0.5s;
}

.menu li a:hover {
    color: green;
}

.main {
    width: 1000px;
    height: 600px;

    margin: 0 auto;
    /*블럭요소를 가운데로 배치*/
    margin-top: 200px;
    /*바깥쪽 위쪽 여백 200px*/

    text-align: center;
}

.main h1 {
    font-style: 50px;
}

.main h2 {
    font-style: 40px;
}

.main h3 {
    font-style: 30px;
    font-weight: normal;

    margin-bottom: 50px;

    color: white;
}


.main button {
    font-style: 30px;
    width: 250px;
    height: 90px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.main button:hover {
    background-color: white;
    color: black;
}